body {
  background-color: #eceff1;
}

.app-link {
  display: block;
  margin-top: 8px;
}

.app-link:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha( opacity=80 )";
}

.app-link img {
  width: 100%;
}

.note {
  background-color: #ffffff;
  margin-top: 8px;
  padding: 16px 32px;
}

.note h1 {
  border-bottom: dotted #e91e63 4px;
  color: #e91e63;
  font-size: 32px;
  font-weight: bolder;
  line-height: 1.2;
  margin: 8px 0;
  padding: 16px 0;
}

.note p {
  line-height: 1.8;
  font-size: 16px;
  margin: 16px 0;
}